name: build-test

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: build ${{ matrix.build_type }} ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
        build_type:
          - debug
          - release
    steps:
      - uses: actions/checkout@v3

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - run: cargo build ${{ matrix.build_type == 'release' && '--release' || '' }}

      - uses: actions/upload-artifact@v4
        with:
          name: bin-${{ matrix.build_type }}-${{ matrix.os }}
          path: |
            target/${{ matrix.build_type }}/vin-*
            target/${{ matrix.build_type }}/string-*
            target/${{ matrix.build_type }}/array-*
            target/${{ matrix.build_type }}/*-wkt-*

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - run: cargo test

  bench:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - run: cargo bench

      - uses: actions/upload-artifact@v4
        with:
          name: bench-${{ matrix.build_type }}-${{ matrix.os }}
          path: target/criterion

  merge-and-comment-bench-report:
    runs-on: ubuntu-latest
    needs: bench
    if: ${{ github.event.pull_request.number }}

    steps:
      - name: Merge Artifacts
        uses: actions/upload-artifact/merge@v4
        id: bench-artifact
        with:
          name: bench
          pattern: bench-*

      - name: Comment
        uses: peter-evans/create-or-update-comment@v5
        with:
          token: ${{ secrets.DUYETBOT_GITHUB_TOKEN }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            Benches report: ${{ steps.bench-artifact.outputs.artifact-url }}
