name: release

on:
  push:
    branches: [master]
  release:
    types: [created]

jobs:
  release:
    name: release ${{ matrix.src_dir }} ${{ matrix.target }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        src_dir:
          - vin
          - wkt
          - url
          - string
          - array
        target:
          - x86_64-pc-windows-gnu
          - x86_64-unknown-linux-musl
        # Note: Apple (x86_64-apple-darwin) builds disabled due to osxcross SDK limitation
        # The rust-build action uses macOS SDK 10.10 which is incompatible with Rust 1.85+
        # To enable Apple builds, the action needs to be updated or use a different build approach
        include:
          - target: x86_64-pc-windows-gnu
            archive: zip
          - target: x86_64-unknown-linux-musl
            archive: tar.gz
    steps:
      - uses: actions/checkout@v4

      - name: Compile and release
        uses: rust-build/rust-build.action@v1.4.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          RUSTTARGET: ${{ matrix.target }}
          ARCHIVE_TYPES: ${{ matrix.archive }}
          ARCHIVE_NAME: clickhouse_udf_${{ matrix.src_dir }}_${{ github.ref_name }}_${{ matrix.target }}
          SRC_DIR: ${{ matrix.src_dir }}
          MINIFY: "yes"
          TOOLCHAIN_VERSION: "1.85.0"

  update-readme:
    name: update README.md
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')

    steps:
      - uses: actions/checkout@v4

      - name: Generate README.md
        env:
          RELEASE_VERSION: ${{ github.ref_name }}
        run: |
          cargo run --bin readme-generator . > README.md

      - uses: EndBug/add-and-commit@v9
        with:
          add: README.md
          author_name: duyetbot
          author_email: duyetbot@users.noreply.github.com
          default_author: user_info
          message: "chore(docs): update README.md [skip ci]"
          new_branch: master
